body {

    background-color: antiquewhite !important;


}

#carouselExampleIndicators {


    padding: 1%;
}

.one_cikanlar {
    text-align: center;
}

.urunler {
    padding: 1%;

    display: grid !important;


    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

/* .card :hover {
    padding: 1%;
    color: cadetblue;
    width: 25rem;



} */


@media (max-width:650px) {
    .urunler {
        width: max-content;
        align-items: center !important;
        text-align: center !important;
        align-content: center !important;
        grid-template-columns: repeat(1, 1fr) !important;
        display: grid !important;
        margin: auto !important;
    }

    .register_mode {
        padding-left: 10%;

    }
}






.card {
    margin: 1%;
}

ul li svg {


    color: grey !important;

}

.register_mode {
    padding: 10px;
    width: 100% !important;
    display: inline-block;
    padding-left: 35%;


}

.switch_label {

    display: block;

}

.disable {

    display: none;



}

.register_mode h2 {

    font-size: medium;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}