body {

    background-color: darkgrey !important;

}

#carouselExampleIndicators {


    padding: 1%;
}

.one_cikanlar {
    padding: 1%;

    display: flex !important;
    direction: ltr;

}

.card {
    margin: 1%;
}