<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

    {% block titleName %}
    {% endblock %}



  </title>

  <link rel="stylesheet" href="..//static//style.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary" style="background-color: purple !important;">
    <a class="navbar-brand" href="/">eShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"
      style="background-color: purple !important;color: purple !important;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">AnaSayfa <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Kategoriler
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">



            <a class="dropdown-item" href="{{ url_for('category_page', category='1') }}">1</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('category_page', category='2') }}">2</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">3</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">4</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">5</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">6</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">7</a>

            <div class="dropdown-divider"></div>

          </div>
        </li>
        {% if session['isLoggedIn'] != True %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Giriş yap veya Kayıt ol</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">{{ session["username"]}}</a>
        </li>

        <li class="nav-item">

          <a class="nav-link " href="/logout"
            style="border-radius: 5px; padding: 5px;background-color: red; width: fit-content ;color: black;">Çıkış
            yap</a>
        </li>

        {% endif %}

        <li class="nav-item">
          <button style=" padding: 5px !important;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#sepet">
            Sepetim
          </button>
        </li>
        <li>




      </ul>

    </div>
  </nav>
  <div onclick="displayBoxes()" onchange="displayBoxes()" class="modal fade" id="sepet" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sepetim</h5>
          <button itype="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">





        </div>
        <div class="modal-footer">
          <button onclick="sessionStorage.removeItem('boxes')" type="button" class="btn btn-secondary" id="clear"
            data-dismiss="modal">Sepeti temizle</button>
          <button type="button" class="btn btn-primary" id="buy">Satın al</button>
        </div>
      </div>
    </div>
  </div>
  <script>

    function displayBoxes() {

      const boxes = JSON.parse(sessionStorage.getItem("boxes")) == null ? [] : JSON.parse(sessionStorage.getItem("boxes"));


      var sel = document.querySelector('.modal-body');
      var delChild = sel.lastChild;

      while (delChild) {
        sel.removeChild(delChild);
        delChild = sel.lastChild;
      }

      boxes.forEach(boxe => {

        var box = JSON.parse("\"" + boxe + "\"");

        console.log(typeof (box));
        console.log(box);

        let h5 = document.createElement('h5');
        let img = document.createElement('img');
        let div = document.createElement('div');

        h5.innerText = boxe["name"];


        img.src = boxe["img"];
        div.appendChild(img);
        div.appendChild(h5);
        div.style = "display: inline";
        sel.appendChild(div);
        sel.appendChild(document.createElement('br'));

      });


    };

  </script>
  {% include "includes/messages.html" %}
  {% block content %}

  {% endblock %}

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </footer>



</body>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>